---
import Layout from "@/layouts/Layout.astro";
import { createSlug } from "@/lib/utils";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: createSlug(post.data.title) },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div class="prose dark:prose-invert mx-auto max-w-3xl">
    <Content />
  </div>
</Layout>
