:root {
  --primary: 239, 84%, 67%;
  --primary-foreground: 0 0% 100%;

  --background: 264, 38%, 96.5%;
  --foreground: 0 0% 0%;

  --element: 240, 20%, 98%;
  --element-foreground: 0 0% 0%;

  --muted: 0 0% 93%;
  --muted-foreground: 240 5% 40%;

  --accent: 240, 15%, 91%;
  --accent-foreground: 240 10% 3%;

  --border: 240, 15%, 91%;
  --scrollbar: 240, 15%, 80%;
}

.dark {
  color-scheme: dark;

  --primary: 239, 84%, 67%;
  --primary-foreground: 0 0% 100%;

  --background: 240, 5%, 7%;
  --foreground: 0, 0%, 95%;

  --element: 240, 10%, 10%;
  --element-foreground: 0 0% 95%;

  --muted: 240, 5%, 15%;
  --muted-foreground: 240, 10%, 70%;

  --accent: 240, 15%, 15%;
  --accent-foreground: 240 10% 93%;

  --border: 240, 5%, 15%;
  --scrollbar: 240, 5%, 25%;
}

.primary-gradient {
  background-image: linear-gradient(90deg, #6366f1, #0ea5e9);
}
