:root {
  --primary-300: 353, 96%, 82%;
  --primary-400: 351, 95%, 71%;
  --primary-500: 350, 84%, 53%; /* Default */
  --primary-600: 347, 77%, 42%;
  --primary-foreground: 0 0% 100%;

  --background: 240, 10%, 97%;
  --foreground: 240 10% 3%;

  --accent: 240, 10%, 93%;
  --accent-foreground: 240 10% 3%;

  --muted-foreground: 240 10% 40%;
}

.dark {
  --background: 240, 10%, 10%;
  --foreground: 240, 10%, 90%;

  --accent: 240, 10%, 15%;
  --accent-foreground: 240 10% 90%;

  --muted-foreground: 240 10% 70%;
}
