@import "./colors.css";

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  overflow-y: scroll;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsla(var(--primary), 0.7);
  border-radius: 5px;
}

::selection {
  background-color: hsl(var(--primary-500));
  color: hsl(var(--primary-foreground));
}
