:root {
  --primary: 350, 84%, 53%;
  --primary-300: 353, 96%, 82%;
  --primary-400: 351, 95%, 71%;
  --primary-600: 347, 77%, 42%;

  --background: 240, 10%, 97%;
  --foreground: 240 10% 3%;
}

.dark {
  --background: 240, 10%, 10%;
  --foreground: 240, 10%, 90%;
}

html,
body {
  height: 100%;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  overflow-y: scroll;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsla(var(--primary), 0.5);
  border-radius: 5px; 
}
