---
import Button from "@/components/ui/Button.astro";
import Layout from "../layouts/Layout.astro";
import Input from "@/components/ui/Input.astro";
---

<Layout title="Home">
  <Button>Primary</Button>
  <Button variant="ghost">Ghost</Button>
  <Input placeholder="placeholder" />

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique veniam
    exercitationem reiciendis quisquam adipisci, a aspernatur velit praesentium,
    non voluptas in perspiciatis eveniet! Harum a, at ipsam itaque deserunt
    deleniti dignissimos nemo ipsa dolor nisi doloremque debitis eum, doloribus
    velit ad voluptatum accusamus quod perferendis, voluptatem explicabo? Nihil,
    praesentium Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Quisquam nisi voluptas animi, fugit error, blanditiis accusantium quasi,
    distinctio dignissimos recusandae ratione debitis. Quisquam aspernatur
    libero expedita enim maiores, quod, atque dolor optio quo accusantium rerum
    repudiandae veritatis. Quasi veritatis odio vel itaque quas pariatur sit
    ducimus quidem nam cupiditate harum distinctio, ea iure, dolorem,
    repudiandae quis ab sunt repellendus. Itaque quasi deleniti sit! Aspernatur
    possimus, incidunt quis harum laudantium eius! Soluta doloremque repellat
    fugit, velit laborum obcaecati possimus. Tempora reprehenderit eius, eos
    deserunt quis pariatur eligendi nobis inventore veritatis dolores possimus
    repellat atque perferendis! Voluptatibus optio vel repellat nulla, maiores
    facilis aut harum, consectetur unde eveniet cum amet sed neque omnis iusto
    recusandae, eius nemo ea adipisci exercitationem officiis ipsa cupiditate
    illum at. Esse quod itaque hic pariatur ea eligendi accusamus sequi, facere
    quisquam nisi maxime assumenda magni ab numquam? Suscipit itaque a
    consequuntur! Vel reiciendis voluptate quam autem sequi consequuntur
    repellat qui rem, natus voluptas molestiae! Numquam hic quae laborum optio
    nisi sequi dolore ratione nostrum voluptas rerum! Voluptate, rerum! Fugiat,
    modi amet. Labore, odit. Doloremque in odio obcaecati quas est consectetur
    ea. Sequi, voluptate? Dignissimos sit aperiam soluta, commodi ea ipsam eius
    voluptatibus facere, doloremque voluptatem sint. Commodi!
  </p>
</Layout>
