---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="Home">
  <section class="pt-28">
    <div class="flex flex-col gap-8 lg:flex-row">
      <div class="lg:flex-1">
        <h1 class="mb-8 text-7xl font-bold">Narek Pogosian</h1>
        <p class="text-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ullam
          et? Perferendis animi iusto nemo consequatur voluptates ullam
          explicabo quae ab corporis, dolor magnam impedit quaerat molestias
          quos veniam? Amet qui fugit possimus aliquid porro officia voluptatem
          sunt praesentium accusantium, optio vitae error laudantium ad
          consectetur ipsa perferendis natus cumque voluptates? Facere, voluptas
          quasi sit voluptatem ipsa excepturi voluptates. Modi rem inventore eos
          tenetur quidem neque sequi, officiis quam magnam!
        </p>
      </div>
      <div class="grid place-content-center lg:flex-1">Image</div>
    </div>
  </section>

  <section class="pt-28" id="projects">
    <h2 class="mb-4 text-center text-3xl font-bold">Projects</h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        projects.map((project) => (
          <div class="rounded-lg border border-muted p-4">
            <h3 class="mb-2 text-xl font-bold">{project.data.title}</h3>
            <p>{project.data.description}</p>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
