---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <section class="container py-10">
    <!-- <div
      class="absolute left-1/2 top-1/2 -z-10 h-[400px] w-[800px] -translate-x-1/2 -translate-y-1/2 bg-emerald-400 opacity-10 blur-[100px]"
    >
    </div> -->
    <h1 class="text-center font-bold">
      <span
        class="block bg-gradient-to-r from-emerald-400 to-yellow-300 bg-clip-text py-6 text-9xl text-transparent"
        >Narek Pogosian</span
      >
      <span
        class="-mt-14 block bg-gradient-to-b from-transparent via-black/60 to-black/90 bg-clip-text py-10 text-8xl text-transparent dark:bg-gradient-to-b dark:from-transparent dark:via-white/15 dark:to-white/80"
        >Web Developer</span
      >
    </h1>
  </section>
</Layout>
