---
import { getCollection } from "astro:content";
import { createSlug } from "@/lib/utils";
import Layout from "../layouts/Layout.astro";
import Card from "@/components/Card.astro";

const projects = await getCollection("projects");
---

<Layout title="Home">
  <div
    aria-hidden="true"
    class="absolute -top-32 left-1/2 -z-50 hidden h-96 w-4/5 -translate-x-1/2 rounded-full blur-2xl dark:block dark:bg-element dark:opacity-100 lg:w-1/2"
  >
  </div>

  <!-- HERO SECTION -->
  <section class="pt-20 md:pt-32 lg:min-h-full lg:pt-40">
    <div class="grid gap-8 lg:grid-cols-3">
      <div class="text-center lg:col-span-2 lg:text-left">
        <h1
          class="mb-8 text-balance text-3xl font-bold sm:text-5xl lg:mb-12 lg:text-6xl"
        >
          Hi there, I'm Narek. <br />
           A<span class="primary-gradient bg-clip-text text-transparent">
            Front-End Developer</span
          >
        </h1>
        <p class="text-balance leading-6 lg:text-lg lg:leading-7">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni
          eligendi rerum architecto aperiam commodi unde sed alias dolorem
          laboriosam odio modi quibusdam aut explicabo, similique sequi
          dignissimos temporibus reiciendis! Ducimus, dolorum? Esse maiores
          optio corporis quod distinctio aspernatur eligendi nam aliquam officia
          nemo quos laborum dignissimos nulla, odit nisi voluptate.
        </p>
      </div>
    </div>
  </section>

  <!-- PROJECTS -->
  <section class="pt-24 lg:min-h-full">
    <h2 class="mb-2 text-3xl font-bold tracking-wide">
      What I have been working on.
    </h2>
    <p class="mb-6 max-w-2xl text-balance leading-6 text-muted-foreground">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odio
      delectus repellat harum id aliquam recusandae dolor repudiandae nostrum
      illo. Dolore ut quae quasi totam.
    </p>
    <ul class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
      <Card
        title="Working at Fictive Reality"
        description="Lorem"
        href="/post/working-at-fictive-reality"
      />
      {
        projects.map((project) => (
          <Card
            title={project.data.title}
            description={project.data.description}
            href={"/project/" + createSlug(project.data.title)}
            techStack={project.data.techStack}
            isProject
          />
        ))
      }
    </ul>
  </section>
</Layout>
