---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <section class="container">
    <h1 class="text-4xl font-bold">Headline</h1>
    <p class="font-semibold text-muted-foreground">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga atque quia
      quaerat cupiditate adipisci numquam veniam illum temporibus perferendis
      odio asperiores ipsam obcaecati quibusdam corporis nobis, nulla et!
      Aperiam eaque, fuga vitae perferendis quo explicabo alias rerum, eum et
      ullam impedit, iusto dolorem? A ab alias dolor nihil! Deleniti porro ex
      quasi, ullam rem voluptates inventore eos minima dolores repellat!
    </p>
  </section>
</Layout>
