---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "@/components/Card.astro";
import { createSlug } from "@/lib/utils";

const projects = await getCollection("projects");
---

<Layout title="Home">
  <div
    class="absolute -top-32 left-1/2 -z-50 hidden h-96 w-4/5 -translate-x-1/2 rounded-full bg-element blur-2xl dark:block lg:w-1/2"
  >
  </div>

  <!-- HERO SECTION -->
  <section class="min-h-full pt-32 lg:pt-40">
    <div class="grid gap-8 lg:grid-cols-3 lg:gap-16">
      <div class="text-center lg:col-span-2 lg:text-left">
        <h1
          class="mb-8 text-balance text-4xl font-bold sm:text-5xl lg:text-6xl"
        >
          Hi, I am Narek
        </h1>
        <p class="text-pretty text-lg leading-8">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ullam
          et? Perferendis animi iusto nemo consequatur voluptates ullam
          explicabo quae ab corporis, dolor magnam impedit quaerat molestias
          quos veniam? <br />
          <br /> Amet qui fugit possimus aliquid porro officia voluptatem sunt
          praesentium accusantium, optio vitae error laudantium ad consectetur
          ipsa perferendis natus cumque voluptates? Facere, voluptas quasi sit
          voluptatem ipsa excepturi voluptates. Modi rem inventore eos tenetur
          quidem neque sequi, officiis quam magnam!
        </p>
      </div>
    </div>
  </section>

  <!-- PROJECTS -->
  <section class="min-h-full pt-24">
    <h2 class="mb-8 text-center text-3xl font-bold">
      What I have been working on
    </h2>
    <ul class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
      <Card title="Working at Fictive Reality" description="Lorem" link="/" />
      {
        projects.map((project) => (
          <Card
            title={project.data.title}
            description={project.data.description}
            link={"/project/" + createSlug(project.data.title)}
            techStack={project.data.techStack}
            isProject
          />
        ))
      }
    </ul>
  </section>
</Layout>
