---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="Home">
  <section class="flex flex-col gap-8 pt-28 lg:flex-row">
    <div class="lg:flex-1">
      <h1 class="mb-8 text-5xl font-bold">Narek Pogosian</h1>
      <p>
        Astro is a new kind of static site builder that delivers lightning-fast
        performance and modern developer ergonomics. It's the first of its kind
        to bring together the best parts of modern web development in one
        opinionated, batteries-included package.
      </p>
    </div>
    <div class="lg:flex-1">Image</div>
  </section>

  <section class="pt-28">
    <h2 class="mb-4 text-center text-3xl font-bold">Projects</h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        projects.map((project) => (
          <div class="rounded-lg border border-muted p-4">
            <h3 class="mb-2 text-xl font-bold">{project.data.title}</h3>
            <p>{project.data.description}</p>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
