---
import ToggleTheme from "../components/ToggleTheme.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import Link from "./ui/Link.astro";
---

<header class="h-16 flex justify-between items-center">
  <Link
    href="/"
    variant="link"
    className="!no-underline font-bold text-xl px-0 py-1"
  >
    LOGO
  </Link>
  <div class="flex gap-2 items-center">
    <ToggleTheme />
    <Link
      href="https://github.com/Narek-Pogosian"
      target="_blank"
      variant="ghost"
      size="icon"
    >
      <span class="sr-only">Link to my github</span>
      <GitHubIcon />
    </Link>
  </div>
</header>
