---
const { heading } = Astro.props;

type Heading = {
  depth: number;
  text: string;
  slug: string;
  subheadings?: Heading[];
};

export interface Props {
  heading: Heading;
}
---

<li class="flex flex-col" style={`margin-left: ${16 * (heading.depth - 2)}px`}>
  <a href={"#" + heading.slug}>
    {heading.text}
  </a>
</li>
