---
import ThemeIcon from "./icons/ThemeIcon.astro";
import Button from "./ui/Button.astro";
---

<Button variant="ghost" size="icon" id="theme-toggle" transition:persist>
  <span class="sr-only">Toggle theme</span>
  <ThemeIcon />
</Button>

<script is:inline>
  function colorMode() {
    const rootElement = document.documentElement;

    if (!localStorage.getItem("theme")) {
      localStorage.setItem("theme", "dark");
      rootElement.classList.add("dark");
    } else {
      const localTheme = localStorage.getItem("theme");

      if (localTheme === "dark") {
        rootElement.classList.add("dark");
      } else {
        rootElement.classList.remove("dark");
      }
    }
  }

  function toggleMode() {
    const storageTheme = localStorage.getItem("theme");
    document.documentElement.classList.toggle("dark");

    if (storageTheme === "dark") {
      localStorage.setItem("theme", "light");
    } else {
      localStorage.setItem("theme", "dark");
    }
  }

  colorMode();

  document.addEventListener("astro:after-swap", () => {
    colorMode();
  });

  document.querySelector("#theme-toggle").addEventListener("click", toggleMode);
</script>
