---
import "@/styles/globals.css";
import Header from "@/components/Header.astro";
import clsx from "clsx";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  isLandingPage?: boolean;
}

const { title, isLandingPage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <Header />
      <main class={"relative " + clsx({ "pb-8 pt-4": !isLandingPage })}>
        <slot />
      </main>
    </div>
  </body>
</html>
